---
layout: default
---
<article class="advisory">

  <h1>{{ page.title }}</h1>

  <table class="advisory-table">
    <tbody>
      <tr>
        <th scope="row">CVE ID</th>
        <td>{{ page.cve_id }}</td>
        <th scope="row">CVSS</th>
        <td>{{ page.cvss | default: "N/A" }}</td>
      </tr>

      <tr>
        <th scope="row">CWE</th>
        <td>{{ page.cwe }}</td>
        <th scope="row">AFFECTED COMPONENT</th>
        <td>{{ page.affected_component }}</td>
      </tr>

      <tr>
        <th scope="row">PRODUCT</th>
        <td>{{ page.product }}</td>
        <th scope="row">VERSION</th>
        <td>{{ page.version }}</td>
      </tr>

      <tr>
        <th scope="row">EXPLOITABILITY</th>
        <td>{{ page.exploitability }}</td>
        <th scope="row">IMPACT</th>
        <td>{{ page.impact }}</td>
      </tr>
    </tbody>
  </table>

  
  <section class="advisory-content">
    {{ content }}
  </section>

</article>